@import '../variables';
@import '../mixins';

.menu {
    background-color: $primary-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: $spacing-large;
    width: 15%;
    max-height: 890px;

    .menu__logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        span {
            font-size: 18px;
            font-weight: bold;
        }

        .logoEmpresa {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            background-color: $secondary-color;
            border-radius: 10px;
        }

        img {
            margin-left: 30px;
        }
    }

    .menu__notification {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .menu__items {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 20px;

        .menu__item {
            display: flex;
            align-items: center;
            padding: 10px 0;
            cursor: pointer;
            transition: background-color 0.3s;

            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            span {
                font-size: 16px;
            }

            &.active {
                background-color: $secondary-color;
                color: $primary-color;
                border-radius: 5px;
                padding-left: 10px;

                img {
                    filter: invert(1) brightness(0) !important;
                }
            }

            &:hover {
                background-color: $secondary-color;
                color: $primary-color;
                border-radius: 5px;
                padding-left: 10px;
            }
        }
    }

    .menu__logout {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        span {
            font-size: 16px;
        }

        &:hover {
            color: $terciary-color;
        }
    }
}